body {
    background: green;
    margin: 0;
    padding: 0;
}

.text-container {
    display: flex;
    justify-content: space-between;
}



.container {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card1 {
    background: blue;
    width: 100px;
    height: 170px;
    color: white;
    text-align: center;
}

.deck {
    background: white;
    width: 100px;
    height: 170px;
    color: black;
    text-align: center;
}

.card2 {
    background: blue;
    width: 100px;
    height: 170px;
    color: white;
    padding: 0 auto;
    text-align: center;
}

.winner-text {
    font-size: 60px;
    text-align: center;
}